@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Rubik:wght@300&display=swap");

@import "./reset";
@import "./config";

@import "./header/header-content";

@import "../pages/front/frontContents";

html {
    font-size: 62.5%;

    @include pc {
        font-size: 72.5%;
    }
}

// html,e
// body,
// #wrap {
//     height: 100%;
// }

#wrap {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    font-size: 1.6rem;
}

h1 {
    font-family: $baseFont;
    font-size: 3rem;
}
h2 {
    margin-top: 2rem;
    font-family: $secFont;
    font-size: 1.8rem;
}

img {
    width: 100%;
}

#wrap {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    background-image: url("#{$imagePath}/page/front/front_hero_bk.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.main_contents {
    flex: 1;
    position: relative;
    @include pc {
    }
}

.container {
    @include siteBaseWidth();
}

header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
